/* Reader Section */
.reader-section {
  padding: 4rem 2rem;
  text-align: center;
}

.reader-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#pdf-render {
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.pdf-controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pdf-controls button {
  background-color: #6A9871;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pdf-controls button:hover {
  background-color: #55805C;
}
